flows.json
[
    {
        "id": "a0cb9b71d871da2b",
        "type": "tab",
        "label": "rtos-sabu",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8634f36424707fe3",
        "type": "mqtt in",
        "z": "a0cb9b71d871da2b",
        "name": "Sensor Data PZEM(s)",
        "topic": "pzem_data",
        "qos": "0",
        "datatype": "json",
        "broker": "3db9b070e0eda29e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "e4853e387a454a3c"
            ]
        ]
    },
    {
        "id": "5bb4cfebef501419",
        "type": "serial in",
        "z": "a0cb9b71d871da2b",
        "name": "PZEM Serial",
        "serial": "3172c25779a8a212",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "69afd4107f716762"
            ]
        ]
    },
    {
        "id": "d5d6e75d9b74e35a",
        "type": "debug",
        "z": "a0cb9b71d871da2b",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "69afd4107f716762",
        "type": "function",
        "z": "a0cb9b71d871da2b",
        "name": "remove [DATA] flag",
        "func": "msg.payload = JSON.parse(msg.payload.replace(\"[DATA] \", \"\"));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "d5d6e75d9b74e35a",
                "4c5c15641fad4edf"
            ]
        ]
    },
    {
        "id": "4c5c15641fad4edf",
        "type": "http request",
        "z": "a0cb9b71d871da2b",
        "name": "FLASK+Pytorch Anomaly Detection",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5000/inference",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 800,
        "y": 400,
        "wires": [
            [
                "b10410ef30f1e85c",
                "79151379a6f6ede1"
            ]
        ]
    },
    {
        "id": "e4853e387a454a3c",
        "type": "function",
        "z": "a0cb9b71d871da2b",
        "name": "remove [DATA] flag",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "4c5c15641fad4edf"
            ]
        ]
    },
    {
        "id": "b3bb2c8b85b3bd4a",
        "type": "comment",
        "z": "a0cb9b71d871da2b",
        "name": "Input lewat MQTT optional",
        "info": "Input lewat MQTT optional",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "b10410ef30f1e85c",
        "type": "debug",
        "z": "a0cb9b71d871da2b",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 500,
        "wires": []
    },
    {
        "id": "79151379a6f6ede1",
        "type": "function",
        "z": "a0cb9b71d871da2b",
        "name": "anomaly threshold",
        "func": "const threshold = 0.8\nconst relay = msg.payload.prediction_conf.normal > threshold ? true : false\n\nreturn JSON.parse(`{\"payload\": ${relay ? 1 : 2}}`);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 300,
        "wires": [
            [
                "9781fca30dd72d0e",
                "e04da6edeb77adf2",
                "9e3d1de4fd34ba0c"
            ]
        ]
    },
    {
        "id": "9781fca30dd72d0e",
        "type": "debug",
        "z": "a0cb9b71d871da2b",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 200,
        "wires": []
    },
    {
        "id": "e04da6edeb77adf2",
        "type": "serial out",
        "z": "a0cb9b71d871da2b",
        "name": "Relay",
        "serial": "3172c25779a8a212",
        "x": 1330,
        "y": 400,
        "wires": []
    },
    {
        "id": "9e3d1de4fd34ba0c",
        "type": "mqtt out",
        "z": "a0cb9b71d871da2b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 1330,
        "y": 300,
        "wires": []
    },
    {
        "id": "3db9b070e0eda29e",
        "type": "mqtt-broker",
        "name": "mqtt-rtos-sabu",
        "broker": "localhost",
        "port": 1883,
        "clientid": "nodered-rtos-sabu",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3172c25779a8a212",
        "type": "serial-port",
        "name": "pzem",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "5f963a74a5dd6a03",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3"
        }
    }
]